.pagecontainer {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}
body {
  background-color: $background;
  font-family: $site-font;
  color: $onBackground;

  h1 {
    margin-top: 40px;
  }
}
a {
  color: $primary;
  &:hover {
    color: $primaryHover;
    text-decoration: none;
  }
}
h1 {
  margin-bottom: 20px;
  text-align: center;
}
.navbar {
  background-color: $elevated1;
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  line-height: 1;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: $primary;
  &:hover {
    color: $primaryHover;
  }
}
ul {
  list-style: none;
  padding: 0;
}

.pagination {
  a {
    background: $elevated1;
    color: $primary;

    &:hover {
      background: $background;
      color: $primary;
    }

    .page-item.active.page-link  {
      background: $primary !important;
    }
  }

  li.page-item.active {
    a {
      background: $primary;
      color: $onPrimary;
      border-color: $primary;
    }
  }

  li.page-item.disabled {
    a {
      background: $elevated1;
      color: $light-gray;
    }
  }
}
