.card {
  margin-bottom: 30px;
  background: $elevated1;

  .badge {
    background: $primary;
    color: $onPrimary;
    padding: 15px;
    text-transform: uppercase;

    &:hover {
      background: $primaryHover;
    }
  }

  span.text-info {
    color: $primary !important;
  }

  .readMore {
    float: right;
    color: $primary;
    border: 2px solid $primary;
    background-color: $elevated1;
    cursor: pointer;

    &:hover {
      background: $primary;
      color: $onPrimary;
    }
  }
}
.post-tags {
  padding: 0;
  display: inline-flex;
  list-style: none;

  li {
    margin-right: 10px;
  }
}

.elevatedCard {
  background: $elevated2;
}

.elevated2Card {
  background: $elevated3;
}
