.sidebar {
  background: $elevated1;
  padding: 15px;
}

.author-social-links {
  text-align: center;
  ul {
    white-space: nowrap;
    li {
      margin: auto 7px;
      display: inline-block;

      a {
        transition: all 0.1s ease-out;
        color: $dark-gray;

        &.instagram:hover {
          color: #e95950;
        }
        &.facebook:hover {
          color: rgb(66, 103, 178);
        }
        &.twitter:hover {
          color: rgb(56, 161, 243);
        }
        &.google:hover {
          color: rgb(221, 75, 57);
        }
        &.linkedin:hover {
          color: rgb(0, 119, 181);
        }
      }
    }
  }
}
